@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color: lavenderblush">
    <div class="text-center">
        <h1 class="display-4" style="color: red">Welcome to Nora's Coffee Shop!</h1>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <img src="~/images/MicrosoftTeams-image (1).png" width="475" height="475" /><br /><br />

        <h2 <u style="text-align: center"/>Journey</u> </h2> <br />
        
        <p style="font-style: italic"/>
        Our mission will be to make best efforts to create a unique place where our customers 
        will be able to socialize in a relaxing and comfortable environment as they enjoy the 
        best brewed coffee or espresso in town. We shall engage in the business of helping our 
        customers overcome the stresses of everyday by providing a piece of mind through customer 
        services that are friendly, great ambiance, location that is convenient and high quality products 
        throughout our time in business. The profits will be invested to increasing the satisfaction 
        of employees while providing stable return to the shareholders!
        </p>

    </div>
    
    <p style="text-align: center" /> <a href="https://localhost:44370/home/Register"> Register</a></p><br />
</div>