
@{
    ViewData["Title"] = "Register";
}

<h1>Please fill the form to register!</h1>
<br />
<form method="post" action="/home/AddUser">
    First Name:   <input type="text" name="firstname" /><br /><br />
    Last Name:    <input type="text" name="lastname" /><br /><br />
    Email:        <input type="text" name="email" /><br /><br />
    Phone Number: <input type="tel" name="phonenumber" /><br /><br />
    Password:     <input type="password" name="password" /><br /><br />
    <input type="submit" />
</form>

